// font-family: 'Lato', sans-serif;
// font-family: 'Playfair Display SC', serif;

.header {
    &-text {
        &__main {
            font-size: $font-size-h1-main;
            color: $color-3;
            @include lineLetter(7.8rem, 0.9rem);
        }

        &__sub {
            font-size: $font-size-h1-sub;
            font-family: $font-family-second;
            color: $color-2;
            letter-spacing: 0.5rem;
        }
    }

    &-contact {
        &-text {
            font-size: $font-size-h1-alt;
            color: $color-5;
            @include lineLetter(5.8rem, 0.9rem);
        }
    }

    &-blog {
        &-text {
            font-size: $font-size-h1-alt;
            color: $color-5;
            @include lineLetter(5.8rem, 0.9rem);
        }
    }
}

.nav {
    &-logo {
        font-family: $font-family-second;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-1;
        font-size: $font-size-logo;
    }

    &-list {
        list-style: none;
        text-align: center;

        &-item {
            font-size: $font-size-regular;
        }

        &-link {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-5;

            &:hover {
                color: $color-1;
            }
        }
    }
}

.section {
    &-about {
        .text-box {
            &__header {
                font-size: $font-size-h2;
                @include lineLetter(5.8rem, 0.38rem);
                color: $color-3;
            }

            &__info {
                font-size: $font-size-regular;
                @include lineLetter(3.2rem, 0.2rem);
            }
        }
    }

    &-services {
        .service-box {
            .icon {
                font-size: $font-size-regular;
                color: $color-5;
            }
        }

        .text-box {
            &__header {
                font-size: $font-size-h3;
                color: $color-3;
                @include lineLetter(5.8rem, 0.32rem);
            }

            &__info {
                font-size: $font-size-regular;
                @include lineLetter(3.2rem, 0.2rem);
            }
        }
    }

    &-read-more {
        .row {
            .text-box {
                &__header {
                    font-size: $font-size-h2;
                    color: $color-2;
                    @include lineLetter(5.8rem, 0.38rem);
                }

                &__info {
                    font-size: $font-size-regular;
                    @include lineLetter(3.2rem, 0.2rem);
                }

                &-bottom {
                    text-align: right;
                    // direction: rtl;
                }
            }
        }
    }

    &-contest {
        .text-box {
            text-align: center;

            &__header {
                font-size: $font-size-h2;
                color: $color-3;
                @include lineLetter(5.8rem, 0.38rem);
            }

            &__info {
                font-size: $font-size-regular;
                @include lineLetter(3.2rem, 0.2rem);
            }
        }
    }

    &-contact-us {
        .form {
            &-input {
                font-size: $font-size-regular;
                &::placeholder {
                    font-size: $font-size-regular;
                    font-family: $font-family-main;
                    font-weight: 300;
                    color: $color-placeholder;
                }
            }
        }

        .text-box {
            &-social {
                &__link {
                    text-decoration: none;
                }

                &__icon {
                    font-size: 2.5rem;
                    color: $color-text;
                }
            }

            &-contact {
                font-size: $font-size-regular;
                @include lineLetter(3.2rem, 0.2rem);

                &__email {
                    font-weight: bold;
                }
            }
        }
    }

    &-blog {
        .blog-post {
            &-text-box {
                &__header {
                    font-size: $font-size-h2;
                    color: $color-3;
                    letter-spacing: 0.32rem;
                }

                &__date {
                    font-size: $font-size-regular;
                    font-style: italic;
                    color: $color-2;
                    @include lineLetter(3.2rem, 0.2rem);
                }

                &__body {
                    font-size: $font-size-regular;
                    @include lineLetter(3.2rem, 0.2rem);
                }
            }

            .comments {
                &-header {
                    font-size: 2.5rem;
                    @include lineLetter(5.8rem, 0.32rem);
                }

                &-text-box {
                    &__header {
                        font-size: $font-size-regular;
                        color: $color-2;
                        @include lineLetter(3.2rem, 0.2rem);
                    }

                    &__body {
                        font-size: $font-size-regular;
                        @include lineLetter(3.2rem, 0.2rem);
                    }
                }
            }
        }

        .side-panel {
            .text-box {
                font-size: 1.5rem;
                @include lineLetter(3.2rem, 0.2rem);

                &__header {
                    font-size: $font-size-regular;
                    color: $color-2;
                }
                &__link {
                    color: $color-3;
                    text-decoration: none;
                }

                &-list {
                    list-style: none;

                    &__item::before {
                        content: "\2022";
                        color: $color-1;
                        display: inline-block;
                        width: 1rem;
                        padding-right: 2rem;
                        margin-left: -2rem;
                    }
                }
            }
        }
    }
}

.footer {
    .text-box {
        text-align: center;
        color: $color-5;

        &__header {
            font-family: $font-family-second;
            font-size: $font-size-h3;
            @include lineLetter(5.8rem, 0.24rem);
        }

        &__info {
            font-size: $font-size-regular;
            @include lineLetter(3.2rem, 0.2rem);
        }
    }
}
