.header {
    &-blog {
        background-image: url(../Assets/blog-image-1.jpg);
        height: 55rem;
        margin-bottom: 0;

        &-text {
            position: relative;
            top: 15rem;
        }
    }
}

.section {
    &-blog {
        .flex-container {
            display: flex;
            justify-content: space-between;
        }

        .border {
            width: 80%;
            border-right: 0.5rem solid $color-1;
            border-bottom: 0.5rem solid $color-1;
            padding-right: 1.6rem;
        }

        .blog-post {
            width: 100%;
            // padding-right: 1.6rem;

            &-image-box {
                position: relative;
                top: -15rem;
                width: 100%;
                box-shadow: 2rem 2rem 0 0 $color-1;

                &__img {
                    display: block;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &-text-box {
                width: 95%;
                padding-left: 15%;
                position: relative;
                top: -5rem;
            }

            .comments {
                padding-left: 12%;
                &-header {
                    margin: 5rem 0;
                }

                &-block {
                    display: flex;
                    gap: 8rem;
                    align-items: start;
                    width: 77%;
                    margin: 5rem 0;
                }

                &-image-box {
                    width: 12%;

                    &__img {
                        width: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                &-text-box {
                    width: 70%;
                }

                .form {
                    width: 75%;

                    &-input {
                        &__text-area {
                            height: 20rem;
                        }
                    }
                }
            }
        }

        .side-panel {
            width: 30%;
            position: relative;
            top: 15rem;

            .image-box {
                width: 100%;
                margin-bottom: 2rem;

                &__img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .text-box {
                width: 90%;

                &-list {
                    margin-left: 2rem;
                }

                &__mission {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
