.header {
    &-contact {
        background-image: url(../Assets/contact-image-1.jpg);
        height: 55rem;
        margin-bottom: 0;

        &-text {
            position: relative;
            top: 15rem;

            @include respond(tab-land) {
                top: 10rem;
            }
        }
    }
}

.section {
    &-contact-us {
        .wrapper {
            display: flex;
            gap: 12rem;
            justify-content: space-around;
            align-items: baseline;

            @include respond(tab-land) {
                flex-direction: column;
                align-items: center;
                gap: 0;
            }
        }

        .form {
            width: 70%;
            padding: 6rem 5rem;
            position: relative;
            top: -15rem;
            box-shadow: 2rem 2rem 0 0 $color-1;

            @include respond(tab-land) {
                width: 100%;
            }

            &-input {
                &__text-area {
                    height: 25rem;
                }
            }
        }

        .text-box {
            width: 23%;

            @include respond(tab-land) {
                width: 65%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 4rem;
            }

            &-social {
                display: flex;
                gap: 2.5rem;

                @include respond(tab-land) {
                    gap: 4.5rem;
                }

                &__link {
                    padding: 1rem;
                    transition: all 0.2s;

                    &:hover {
                        transform: scale(1.2);
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
