.footer {
    padding: 7rem 0;
    background-color: $color-footer;

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .image-box {
        width: 30%;

        &__img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1rem solid $color-5;
        }
    }

    .text-box {
        width: 40%;
    }
}
