.header {
    background-image: url(../Assets/home-image-1.jpg);
    background-size: cover;
    width: 100%;
    height: 65rem;
    margin-bottom: 10rem;

    &-content {
        position: relative;
        width: 80%;
        height: 50rem;
    }

    &-image {
        width: 50rem;
        max-width: 60rem;
        position: absolute;
        top: 30rem;
        @include respond(tab-port) {
            display: none;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: move-in-btm 0.8s ease-out;
        }
    }

    &-text {
        width: 50%;
        position: absolute;
        top: 35rem;
        left: 40rem;
        animation: move-in-btm 1s ease-out 0.5s;
        animation-fill-mode: backwards;

        @include respond(tab-port) {
            width: 100%;
            top: 70%;
            left: 65%;
            transform: translate(-50%, -50%);
            animation: move-in-btm-tab-port 1s ease-out;
            animation-fill-mode: backwards;
        }

        @include respond(phone) {
            top: 75%;
        }

        @include respond(phone-small) {
            left: 62%;
        }
    }
}
