.nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    &-list {
        display: flex;
        justify-content: space-between;
        width: 33%;
    }
}
