.nav {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 1.5rem 0;
    margin-top: -15rem;
    z-index: 89;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        z-index: 89;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        width: 45%;

        @include respond(tab-land) {
            display: none;
        }
    }

    &-bg-off {
        background-color: transparent;
        transition: 0.3s all;
    }

    &-bg-on {
        background-color: $color-2;
        transition: 0.3s all;
    }

    .hamburger {
        z-index: 89;
        display: none;
        width: 5rem;
        position: sticky;
        left: 90%;
        top: 5%;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;

        @include respond(tab-land) {
            display: block;
        }

        &-bar,
        &::after,
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 0.5rem;
            background-color: $color-5;
            margin: 1rem 0;
            transition: all 0.3s;
        }

        &-active {
            &::before {
                transform: rotate(-45deg) translate(-1rem, 1rem);
            }

            &::after {
                transform: rotate(45deg) translate(-1rem, -1rem);
            }

            & > .hamburger-bar {
                opacity: 0;
            }
        }
    }

    .mobile-nav {
        // display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: $color-2;
        z-index: 88;
        transition: all 0.3s;

        &-list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &-item {
                &:not(:last-child) {
                    margin-bottom: 5rem;
                }
            }

            &-link {
                padding: 2rem 1.5rem;
                // padding: 1.5rem 2.5rem;
            }
        }

        &-active {
            left: 0;
        }
    }
}
