.section {
    &-read-more {
        .row {
            display: flex;
            justify-content: space-between;

            &-bottom {
                flex-direction: row-reverse;
            }
        }
    }
}
