.section {
    &-read-more {
        background-color: $color-4;
        padding-top: 5rem;
        .row {
            display: flex;
            gap: 20%;
            align-items: center;

            @include respond(tab-land) {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 7rem;
            }

            .image-box {
                width: 40%;
                position: relative;

                @include respond(tab-land) {
                    width: 55%;
                }

                &__img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }

                &-top {
                    top: -10rem;
                    box-shadow: 2rem 2rem 0 0 $color-1;
                }

                &-bottom {
                    top: 3rem;
                    box-shadow: -2rem 2rem 0 0 $color-1;

                    @include respond(tab-land) {
                        top: 6rem;
                    }
                }
            }

            .text-box {
                width: 33%;

                &-top {
                    @include respond(tab-land) {
                        width: 75%;
                        padding-left: 10rem;
                    }
                }

                &-bottom {
                    @include respond(tab-land) {
                        width: 75%;
                        padding-right: 10rem;
                    }
                }
            }

            &-bottom {
                flex-direction: row-reverse;

                @include respond(tab-land) {
                    flex-direction: column-reverse;
                    margin-bottom: 0;
                    align-items: flex-end;
                }
            }
        }
    }
}
