.section {
    &-services {
        padding: 10rem;
        margin-bottom: 8rem; //For Kobe

        @include respond(tab-land) {
            margin-bottom: 0;
        }

        @include respond(phone) {
            padding: 10rem 5rem;
        }

        .row {
            display: flex;
            justify-content: space-between;

            &:nth-child(1) {
                margin-bottom: 4rem;

                @include respond(tab-land) {
                    margin-bottom: 0;
                }
            }

            @include respond(tab-land) {
                flex-direction: column;
            }
        }

        .service-box {
            display: flex;

            @include respond(tab-land) {
                margin-bottom: 3rem;
                width: 100%;
            }

            .icon {
                display: inline-block;
                background-color: $color-1;
                border-radius: 50%;
                height: fit-content;
                padding: 1.2rem;
            }

            .icon {
                position: relative;
                top: 1rem;
                margin-right: 2rem;
                text-align: center;
            }
        }
    }
}
