.section {
    &-services {
        padding: 10rem;
        margin-bottom: 8rem; //For Kobe
        .row {
            display: flex;
            justify-content: space-between;
        }

        .service-box {
            display: flex;

            .icon {
                display: inline-block;
                background-color: $color-1;
                border-radius: 50%;
                height: fit-content;
                padding: 1.2rem;
            }

            .icon {
                position: relative;
                top: 1rem;
                margin-right: 2rem;
                text-align: center;
            }
        }
    }
}
