// Colors

$color-1: #50e3c2;
$color-2: #063974;
$color-3: #0c5f4c;
$color-4: #d2f9f1;
$color-5: #fafffe;
$color-text: #2c2c2c;

// Fonts

$font-family-main: "Lato", sans-serif;
$font-family-second: "Playfair Display SC", serif;

$font-size-h1-main: 6rem;
$font-size-h1-sub: 9rem;
$font-size-h1-alt: 8.7rem;
$font-size-h2: 3.5rem;
$font-size-h3: 3rem;
$font-size-regular: 2rem;
$font-size-logo: 3.46rem;
