// Colors

$color-1: #50e3c2;
$color-2: #063974;
$color-3: #0c5f4c;
$color-4: #d2f9f1;
$color-5: #fafffe;
$color-text: #2c2c2c;

// Fonts

$font-size-h1-main: 6.2rem;
$font-size-h1-second: 11.12rem;
$font-size-h2: 8.7rem;
$font-size-h3: 3.5rem;
$font-size-h4: 3rem;
