@charset "UTF-8";
/*

Screen sizes
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscape
1200 - 1800px: Current styles apply to this range
1800px + : Big desktop

$breakpoint arguments
- phone
- tab-port
- tab-land
- big-desktop

*/
@-webkit-keyframes move-in-btm {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes move-in-btm {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes move-in-btm-tab-port {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes move-in-btm-tab-port {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
html body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 5.8rem;
  color: #2c2c2c;
  background-color: #fafffe;
}
html body p {
  font-weight: 400;
}
html body .wrapper {
  max-width: 1150px;
  margin: 0 auto;
}
@media (min-width: 112.5em) {
  html body .wrapper {
    max-width: 1500px;
  }
}
@media (max-width: 75em) {
  html body .wrapper {
    max-width: 850px;
  }
}
@media (max-width: 56.25em) {
  html body .wrapper {
    max-width: 550px;
  }
}
@media (max-width: 37.5em) {
  html body .wrapper {
    max-width: 500px;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 56.25em) {
  .header-text {
    text-align: center;
  }
}
.header-text__main {
  font-size: 6rem;
  color: #0c5f4c;
  line-height: 7.8rem;
  letter-spacing: 0.9rem;
}
@media (max-width: 75em) {
  .header-text__main {
    font-size: 5rem;
  }
}
@media (max-width: 37.5em) {
  .header-text__main {
    font-size: 4rem;
  }
}
.header-text__sub {
  font-size: 9rem;
  font-family: "Playfair Display SC", serif;
  color: #063974;
  letter-spacing: 0.5rem;
}
@media (max-width: 75em) {
  .header-text__sub {
    font-size: 8rem;
  }
}
@media (max-width: 37.5em) {
  .header-text__sub {
    font-size: 6rem;
  }
}
.header-contact-text {
  font-size: 8.7rem;
  color: #fafffe;
  line-height: 5.8rem;
  letter-spacing: 0.9rem;
}
.header-blog-text {
  font-size: 8.7rem;
  color: #fafffe;
  line-height: 5.8rem;
  letter-spacing: 0.9rem;
}

.nav-logo,
.mobile-nav-logo {
  font-family: "Playfair Display SC", serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #50e3c2;
  font-size: 3.46rem;
}
.nav-list,
.mobile-nav-list {
  list-style: none;
  text-align: center;
}
.nav-list-item,
.mobile-nav-list-item {
  font-size: 2rem;
}
@media (max-width: 75em) {
  .nav-list-item,
  .mobile-nav-list-item {
    font-size: 3rem;
  }
}
.nav-list-link,
.mobile-nav-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fafffe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-list-link:hover,
.mobile-nav-list-link:hover {
  color: #50e3c2;
}

@media (max-width: 56.25em) {
  .section-about .text-box {
    text-align: center;
  }
}
.section-about .text-box__header {
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #0c5f4c;
}
.section-about .text-box__info {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-services .service-box .icon {
  font-size: 2rem;
  color: #fafffe;
}
.section-services .text-box__header {
  font-size: 3rem;
  color: #0c5f4c;
  line-height: 5.8rem;
  letter-spacing: 0.32rem;
}
.section-services .text-box__info {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-read-more .row .text-box__header {
  font-size: 3.5rem;
  color: #063974;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
}
.section-read-more .row .text-box__info {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-read-more .row .text-box-bottom {
  text-align: right;
}
.section-contest .text-box {
  text-align: center;
}
.section-contest .text-box__header {
  font-size: 3.5rem;
  color: #0c5f4c;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
}
.section-contest .text-box__info {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-contact-us .text-box-social__link {
  text-decoration: none;
}
.section-contact-us .text-box-social__icon {
  font-size: 2.5rem;
  color: #2c2c2c;
}
@media (max-width: 75em) {
  .section-contact-us .text-box-social__icon {
    font-size: 3rem;
  }
}
.section-contact-us .text-box-contact {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-contact-us .text-box-contact__email {
  font-weight: bold;
}
.section-blog .blog-post-text-box__header {
  font-size: 3.5rem;
  color: #0c5f4c;
  letter-spacing: 0.32rem;
}
.section-blog .blog-post-text-box__date {
  font-size: 2rem;
  font-style: italic;
  color: #063974;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-blog .blog-post-text-box__body {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-blog .blog-post .comments-header {
  font-size: 2.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.32rem;
}
.section-blog .blog-post .comments-text-box__header {
  font-size: 2rem;
  color: #063974;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-blog .blog-post .comments-text-box__body {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-blog .side-panel .text-box {
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.section-blog .side-panel .text-box__header {
  font-size: 2rem;
  color: #063974;
}
.section-blog .side-panel .text-box__link {
  color: #0c5f4c;
  text-decoration: none;
}
.section-blog .side-panel .text-box-list {
  list-style: none;
}
.section-blog .side-panel .text-box-list__item::before {
  content: "•";
  color: #50e3c2;
  display: inline-block;
  width: 1rem;
  padding-right: 2rem;
  margin-left: -2rem;
}

.footer .text-box {
  text-align: center;
  color: #fafffe;
}
.footer .text-box__header {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  line-height: 5.8rem;
  letter-spacing: 0.24rem;
}
.footer .text-box__info {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}
.footer .text-box__info-link {
  text-decoration: none;
  color: #fafffe;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .text-box__info-link:hover {
  color: #50e3c2;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.btn {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  background-color: #063974;
  color: #fafffe;
  border: none;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover, .btn:focus {
  outline: 1px solid #063974;
  background-color: #fafffe;
  color: #063974;
}
.btn:active {
  outline: none;
  background-color: #063974;
  color: #fafffe;
}

.form {
  background-color: #fafffe;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.form-row-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-input {
  padding: 2rem;
  font-size: 2rem;
}
.form-input::-webkit-input-placeholder {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979797;
}
.form-input::-moz-placeholder {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979797;
}
.form-input:-ms-input-placeholder {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979797;
}
.form-input::-ms-input-placeholder {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979797;
}
.form-input::placeholder {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #979797;
}
.form-input__text {
  width: 50%;
  border-style: none;
  border-bottom: 0.3rem solid #50e3c2;
}
.form-input__text-area {
  resize: none;
  border: 0.3rem solid #50e3c2;
  padding-top: 4rem;
}

.nav {
  position: sticky;
  top: 0;
  background-color: transparent;
  padding: 1.5rem 0;
  margin-top: -15rem;
  z-index: 89;
}
.nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-logo {
  z-index: 89;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}
@media (max-width: 75em) {
  .nav-list {
    display: none;
  }
}
.nav-bg-off {
  background-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.nav-bg-on {
  background-color: #063974;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.nav .hamburger {
  z-index: 89;
  display: none;
  width: 5rem;
  position: sticky;
  left: 90%;
  top: 5%;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
@media (max-width: 75em) {
  .nav .hamburger {
    display: block;
  }
}
.nav .hamburger-bar, .nav .hamburger::after, .nav .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #fafffe;
  margin: 1rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav .hamburger-active::before {
  -webkit-transform: rotate(-45deg) translate(-1rem, 1rem);
          transform: rotate(-45deg) translate(-1rem, 1rem);
}
.nav .hamburger-active::after {
  -webkit-transform: rotate(45deg) translate(-1rem, -1rem);
          transform: rotate(45deg) translate(-1rem, -1rem);
}
.nav .hamburger-active > .hamburger-bar {
  opacity: 0;
}
.nav .mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #063974;
  z-index: 88;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav .mobile-nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav .mobile-nav-list-item:not(:last-child) {
  margin-bottom: 5rem;
}
.nav .mobile-nav-list-link {
  padding: 2rem 1.5rem;
}
.nav .mobile-nav-active {
  left: 0;
}

.header {
  background-image: url(../Assets/home-image-1.jpg);
  background-size: cover;
  width: 100%;
  height: 65rem;
  margin-bottom: 10rem;
}
.header-content {
  position: relative;
  width: 80%;
  height: 50rem;
}
.header-image {
  width: 50rem;
  max-width: 60rem;
  position: absolute;
  top: 30rem;
}
@media (max-width: 56.25em) {
  .header-image {
    display: none;
  }
}
.header-image__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: move-in-btm 0.8s ease-out;
          animation: move-in-btm 0.8s ease-out;
}
.header-text {
  width: 50%;
  position: absolute;
  top: 35rem;
  left: 40rem;
  -webkit-animation: move-in-btm 1s ease-out 0.5s;
          animation: move-in-btm 1s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media (max-width: 56.25em) {
  .header-text {
    width: 100%;
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: move-in-btm-tab-port 1s ease-out;
            animation: move-in-btm-tab-port 1s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
}
@media (max-width: 37.5em) {
  .header-text {
    top: 75%;
  }
}

.section-about {
  padding: 15rem 0;
}
.section-about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 75em) {
  .section-about .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 56.25em) {
  .section-about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-about .text-box {
  width: 65%;
}
@media (max-width: 56.25em) {
  .section-about .text-box {
    width: 100%;
    margin-bottom: 5rem;
  }
}
.section-about .image-box {
  width: 25%;
}
@media (max-width: 75em) {
  .section-about .image-box {
    width: 30%;
  }
}
@media (max-width: 56.25em) {
  .section-about .image-box {
    width: 45%;
  }
}
.section-about .image-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -2em 2rem 0px 0.5rem #50e3c2;
          box-shadow: -2em 2rem 0px 0.5rem #50e3c2;
}

.section-gallery {
  background-color: #d2f9f1;
  padding: 10rem 0;
}
.section-gallery .gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 56.25em) {
  .section-gallery .gallery-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
}
.section-gallery .gallery-image {
  width: 31%;
}
@media (max-width: 56.25em) {
  .section-gallery .gallery-image {
    width: 55%;
  }
}
.section-gallery .gallery-image__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.section-services {
  padding: 10rem;
  margin-bottom: 8rem;
}
@media (max-width: 75em) {
  .section-services {
    margin-bottom: 0;
  }
}
.section-services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-services .row:nth-child(1) {
  margin-bottom: 4rem;
}
@media (max-width: 75em) {
  .section-services .row:nth-child(1) {
    margin-bottom: 0;
  }
}
@media (max-width: 75em) {
  .section-services .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-services .service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 75em) {
  .section-services .service-box {
    margin-bottom: 3rem;
  }
}
.section-services .service-box .icon {
  display: inline-block;
  background-color: #50e3c2;
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.2rem;
}
.section-services .service-box .icon {
  position: relative;
  top: 1rem;
  margin-right: 2rem;
  text-align: center;
}

.section-read-more {
  background-color: #d2f9f1;
  padding-top: 5rem;
}
.section-read-more .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 75em) {
  .section-read-more .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 7rem;
  }
}
.section-read-more .row .image-box {
  width: 40%;
  position: relative;
}
@media (max-width: 75em) {
  .section-read-more .row .image-box {
    width: 55%;
  }
}
@media (max-width: 56.25em) {
  .section-read-more .row .image-box {
    width: 65%;
  }
}
@media (max-width: 37.5em) {
  .section-read-more .row .image-box {
    width: 70%;
  }
}
.section-read-more .row .image-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section-read-more .row .image-box-top {
  top: -10rem;
  -webkit-box-shadow: 2rem 2rem 0 0 #50e3c2;
          box-shadow: 2rem 2rem 0 0 #50e3c2;
}
.section-read-more .row .image-box-bottom {
  top: 3rem;
  -webkit-box-shadow: -2rem 2rem 0 0 #50e3c2;
          box-shadow: -2rem 2rem 0 0 #50e3c2;
}
@media (max-width: 75em) {
  .section-read-more .row .image-box-bottom {
    top: 6rem;
  }
}
.section-read-more .row .text-box {
  width: 33%;
}
@media (max-width: 75em) {
  .section-read-more .row .text-box-top {
    width: 75%;
    padding-left: 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-read-more .row .text-box-top {
    width: 90%;
    padding-left: 10rem;
  }
}
@media (max-width: 75em) {
  .section-read-more .row .text-box-bottom {
    width: 75%;
    padding-right: 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-read-more .row .text-box-bottom {
    width: 100%;
    padding-left: 10rem;
  }
}
.section-read-more .row-bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 75em) {
  .section-read-more .row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.section-bottom-banner .banner-img {
  width: 100%;
  display: block;
}

.section-contest {
  padding: 12rem 0;
}
.section-contest .text-box {
  width: 55%;
}

.footer {
  padding: 7rem 0;
  background-color: #272b31;
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 56.25em) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .image-box {
  width: 30%;
}
@media (max-width: 56.25em) {
  .footer .image-box {
    width: 40%;
  }
}
.footer .image-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1rem solid #fafffe;
}
.footer .text-box {
  width: 40%;
}
@media (max-width: 56.25em) {
  .footer .text-box {
    width: 90%;
  }
}
.footer .text-box__info-link {
  border-bottom: 1px solid #fafffe;
}

.header-contact {
  background-image: url(../Assets/contact-image-1.jpg);
  height: 55rem;
  margin-bottom: 0;
}
.header-contact-text {
  position: relative;
  top: 25rem;
}

.section-contact-us .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 75em) {
  .section-contact-us .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}
.section-contact-us .form {
  width: 70%;
  padding: 6rem 5rem;
  position: relative;
  top: -15rem;
  -webkit-box-shadow: 2rem 2rem 0 0 #50e3c2;
          box-shadow: 2rem 2rem 0 0 #50e3c2;
}
@media (max-width: 75em) {
  .section-contact-us .form {
    width: 100%;
  }
}
.section-contact-us .form-input__text-area {
  height: 25rem;
}
.section-contact-us .text-box {
  width: 23%;
}
@media (max-width: 75em) {
  .section-contact-us .text-box {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4rem;
  }
}
.section-contact-us .text-box-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 75em) {
  .section-contact-us .text-box-social {
    gap: 4.5rem;
  }
}
.section-contact-us .text-box-social__link {
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-contact-us .text-box-social__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.section-contact-us .text-box-social__link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-blog {
  background-image: url(../Assets/blog-image-1.jpg);
  height: 55rem;
  margin-bottom: 0;
}
.header-blog-text {
  position: relative;
  top: 25rem;
}

.section-blog .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-blog .border {
  width: 80%;
  border-right: 0.5rem solid #50e3c2;
  border-bottom: 0.5rem solid #50e3c2;
  padding-right: 1.6rem;
}
@media (max-width: 75em) {
  .section-blog .border {
    width: 90%;
  }
}
.section-blog .blog-post {
  width: 100%;
}
.section-blog .blog-post-image-box {
  position: relative;
  top: -15rem;
  width: 100%;
  -webkit-box-shadow: 2rem 2rem 0 0 #50e3c2;
          box-shadow: 2rem 2rem 0 0 #50e3c2;
}
.section-blog .blog-post-image-box__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-blog .blog-post-text-box {
  width: 95%;
  padding-left: 15%;
  position: relative;
  top: -5rem;
}
.section-blog .blog-post .comments {
  padding-left: 12%;
}
.section-blog .blog-post .comments-header {
  margin: 5rem 0;
}
.section-blog .blog-post .comments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 77%;
  margin: 5rem 0;
}
@media (max-width: 75em) {
  .section-blog .blog-post .comments-block {
    width: 85%;
  }
}
.section-blog .blog-post .comments-image-box {
  width: 12%;
}
.section-blog .blog-post .comments-image-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section-blog .blog-post .comments-text-box {
  width: 70%;
}
.section-blog .blog-post .comments .form {
  width: 75%;
}
@media (max-width: 75em) {
  .section-blog .blog-post .comments .form {
    width: 85%;
  }
}
.section-blog .blog-post .comments .form-input__text-area {
  height: 20rem;
}
.section-blog .side-panel {
  width: 30%;
  position: relative;
  top: 15rem;
}
@media (max-width: 75em) {
  .section-blog .side-panel {
    display: none;
  }
}
.section-blog .side-panel .image-box {
  width: 100%;
  margin-bottom: 2rem;
}
.section-blog .side-panel .image-box__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section-blog .side-panel .text-box {
  width: 90%;
}
.section-blog .side-panel .text-box-list {
  margin-left: 2rem;
}
.section-blog .side-panel .text-box__mission {
  margin-bottom: 2rem;
}